<script>
    setTimeout(function() {
  $("#fade").fadeOut().empty();
}, 5000);
</script>

<div id = "fade">
    <% if(success && success.length){%>
        <div class="notification is-primary mt-2">
            <button class="delete"></button>
            <strong><%= success %></strong>
        </div>
    <% } %>
    
    <% if(error && error.length){%>
        <div class="notification is-danger">
            <button class = "delete"></button>
            <strong><%= error %></strong>
        </div>
    <% } %>    
</div>

