<% layout('../layouts/boilerplate.ejs') %>
<h2 class = "title is-3 mt-2">List of all available Items for rent</h2>

<% for(item of allitems) { %>
    <div class="card mb-3 col-8 offset-2" >
        <div class="row g-0">
          <div class="col-md-4">
            <img class = "pt-3" src="<%= item.Image[0].home_thumbnail %>">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong><%= item.title %></strong></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <a href="/item/<%= item._id %>"><button class = "button is-primary">
                Show More!
              </button></a>
            </div>
          </div>
        </div>
      </div>
<% } %>